@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background-color: #141414;
  color: #fff;
  font-family: "Montserrat";
}

.header {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo-text {
  font-size: 48px;
  font-weight: 700;
}
.header__logo-text span {
  color: #FFB800;
}

.container {
  max-width: 1190px;
  padding: 10px;
  margin: 0 auto;
}

.content__title {
  font-size: 30px;
  margin: 50px 0 35px 0;
}
.content__sites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content__site-card {
  text-decoration: none;
}
.content__site-card-s {
  width: 570px;
  height: 150px;
  background: black;
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}
.content__site-card-s--mm {
  margin: 15px 0;
}
.content__site-card-s--yt {
  background: url("../img/ytLogo.png") 0 0/cover no-repeat;
}
.content__site-card-s--yt:hover {
  box-shadow: 0 0 20px red;
  transition: 0.3s ease;
}
.content__sc-title {
  color: white;
  font-size: 30px;
  font-weight: 300;
  padding: 0 0 0 5%;
}